
footer.footer
    .container
        p Designed for the Heterogeneous Parallel Programming Coursera Course
        //p Licenced under the UIUC NCSA Licence
        p For help, refer to the <a href="/help">help</a> document.
        p Report bugs or issues by sending an email to ...

