.navbar.navbar-inverse
    .navbar-inner
        .container
            a.brand(href="/index.html") Heterogeneous Parallel Programming
            .nav-collapse.collapse
                ul.nav
                  li.nav-home
                    a(href="/index.html") Home
                  li.nav-mp0
                    a(href="/mp/0") MP0
                  li.nav-mp1
                    a(href="/mp/1") MP1
                  li.nav-mp2
                    a(href="/mp/2") MP2
                  li.nav-mp3
                    a(href="/mp/3") MP3
                  li.nav-mp4
                    a(href="/mp/4") MP4
                  li.nav-mp5
                    a(href="/mp/5") MP5
                  li.nav-mp6
                    a(href="/mp/6") MP6
                  li.nav-help
                    a(href="/help") Help
