link(rel="stylesheet", href="/public/css/bootstrap.min.css", type="text/css")
link(rel="stylesheet", href="/public/css/codemirror.css", type="text/css")
link(rel="stylesheet", href="/public/css/theme/eclipse.css", type="text/css")
style
  #editor {
    position: absolute;
    width: 500px;
    height: 70%;
  }
  .hide {
    display: none;
  }
  pre.stderr {
    color: #b94a48;
  }
  pre.stdout {
    color: #3a87ad;
  }
  .activeline {
    background: #e8f2ff !important;
  }
  .center-img {
    text-align: center;
  }
  .footer {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
  }
  .footer p {
    margin-bottom: 0;
    color: #777;
  }
  .footer-links {
    margin: 10px 0;
  }
  .footer-links li {
    display: inline;
    padding: 0 2px;
  }
  .footer-links li:first-child {
    padding-left: 0;
  }
