
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="alert alert-block alert-error fade in">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 class="alert-heading"><%= message %></h3>
        </div>
        <div class="modal-body">
            <h4>The following keyword specified is not allowed in sandbox mode:</h4>
            <pre class='keyword'><%- keyword %></pre>
          </div>
        </div>
    </div>
</div>


