extend layout

block body
    .hero-unit
        h1 500 System Error Occurred
        p This page is a result of a system error. If you did not come here by error, then please report the issue.
        p
            a.btn.btn-primary.btn-large(href = '/') Go Home &raquo;

