extend layout

block body
	#analysis-accordion.accordion
		.accordion-group.analysis-timer.hide
		.accordion-group.analysis-logger.hide
		.accordion-group.analysis-compiler-stderr.hide
		.accordion-group.analysis-compiler-stdout.hide
		.accordion-group.analysis-program-stderr.hide
		.accordion-group.analysis-program-stdout.hide
		.accordion-group.analysis-attempt.hide
		.accordion-group.analysis-code.hide
			code#static-code-editor

