extend layout

block head
    script(src="/public/lib/lightbox.js", type="text/javascript", charset="utf-8")
    link(rel="stylesheet", href="/public/css/lightbox.css", type="text/css")

block body
    .description

