extend layout

block body
    .hero-unit
        h1 Heterogeneous Parallel Programming
        p   
            | This site accompanies the Coursera site for
            | the Heterogeneous Parallel Programming course
            | offered. The site is the place where
            | all the programming assignments will be developed
            | and submitted. To get started, you must first login:
        p
            a.btn.btn-primary.btn-large(href = '/login') Login &raquo;
        hr
        p For help, refer to the <a href="/help">help</a> document.

